.input-group {
	width: 50%;
}

.center-block {	
    width: 75%;
    margin: 0 auto;
}

.center-block .input-group-addon {
	width: 25%;
}

.center-block .input-group {
	width: 100%;
}

#output_text {
	background-color: white;
}

#settings .input-group-addon {	
	width: 100px;
}	

#footer {
	height: 100px;
	bottom: 0;
	padding-top: 30px;
	display: table;
	margin: 0 auto;
}

.btn-group {
	padding-top: 30px;
    display: table;
    margin: 0 auto;
}

.page-header {
	text-align: center;
}
