body{
	text-align: center;
}	

ul{
	list-style-type: none;
}

#middle{
	border: 1px solid;
	padding-left: 25px;	
	padding-right: 25px;	
}

#settings input[type="text"]{
	width: 400px;
}

#settings p{
	padding: none;
}

#mutation{
	width:30px;
}
#current input[type="text"]{
	width: 20px;
}
#delay{
	width: 20px;
}

#mutation_settings input[type="text"]{
	width:30px;
}
